extends layout

block content
    #map
    
    style.
        #map {
            height: 100vh;
            width: 100vw;
        }
        
    script.
        var latInit = #{lat};
        var lngInit = #{lng};
        
    script(src='/js/js.js')
    
    script.
        var weathers = JSON.parse(htmlDecode("#{JSON.stringify(weathers)}")).clean(null);
        
    script( async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4ROUQ-8Kx2-qQCqw7WpLyVwZKTRVRDYc&callback=initMap")